{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}
<div>
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/game">Game Start</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Ranking</a>
		</li>
	</ul>
</div>

<table class="table table-striped table-hover table-bordered border-dark" style="margin-left: auto;margin-right: auto;width: 50%;">
	<tr>
		<th>rank</th>
		<th>user_name</th>
		<th>score</th>
	</tr>
	{% for result in results %}
	<tr>
		<th>{{loop.index}}</th>
		<th>{{result.user_name}}</th>
		<th>{{result.score}}</th>
	</tr>
	{% endfor %}
</table>
{% endblock %}